* {box-sizing: border-box}

body {font-family: Verdana, sans-serif; margin:0}

/* Style the content */
.content {
  padding: auto;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: steelblue;
}

  /* Style the topnav links */
.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 30px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: cornflowerblue;
  text-decoration: underline;

}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: royalblue;
  color: white;
  font-size: 12px;
  padding: 16px 32px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: center justify;
  height: 200px;
}

.responsive {
  padding: 6px 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #ddd;
  padding: 10px;
}